/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #1c1c1c;
}

button {
  cursor: pointer;
}

input,
select,
button,
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 550px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 59px 0 51px;
  width: 100%;
  gap: 9px;
}

h1,
h2 {
  color: #2b283a;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.8px;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

main {
  background: #fff;
  height: 100%;
  padding: 38px 38px;
}

/* Button styling */
.task-btn {
  border-radius: 7px;
  border: 1px solid #d5d4d8;
  background: #fff;
  color: #4a4e74;
  width: 143px;
  height: 45px;
  text-align: center;
  flex-shrink: 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.task-btn:hover {
  background: #3770ed;
  color: #fff;
}

.freetext-btn {
  height: 40px;
  width: 11%;
  font-size: 1.5rem;
  background: #3770ed;
  color: #fff;
  border: none;
  border-radius: 0px 7px 7px 0px;
}

.freetext-btn:hover {
  background: #2c59bd;
}

.delete-btn {
  color: #918e9b;
  border: none;
  background: none;
  font-size: 1rem;
}

.delete-btn:hover {
  color: #ff4c4c;
}

/* Custom Task input styling */
.freetext-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-input {
  border-radius: 7px 0 0 7px;
  border: 1px solid #d5d4d8;
  background: #fff;
  color: #4a4e74;
  width: 69%;
  height: 40px;
  font-size: 1.25rem;
  font-weight: 500;
  width: 70%;
  padding: 0 0 0 10px;
}

.task-input::placeholder {
  color: #888;
  font-weight: 400;
}

/* select */
.amount-select {
  height: 40px;
  width: 20%;
  text-align: left;
  padding-left: 5px;
  color: #1f2937;
  font-weight: 300;
  font-size: 1.375rem;
  background: #f6f6f6;
  border: 1px solid #d5d4d8;
  border-left: none;
  cursor: pointer;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #918e9b;
  margin-top: 43px;
}

.total-header {
  display: flex;
  justify-content: space-between;
  color: #918e9b;
  font-size: 0.75rem;
  line-height: 32px;
  padding-top: 11px;
  border-top: 1px solid #c3c6db;
}

.task-heading,
.total-heading {
  margin: 0;
  font-size: 0.75rem;
}

.task-heading {
  font-weight: 700;
}

.total-heading {
  font-weight: 600;
}

.total-details {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.invoice-note {
  font-size: 0.75rem;
  font-weight: 400;
  color: #4a4e74;
}

.invoice-total {
  color: #4a4e74;
  font-weight: 600;
  font-size: 2.25rem;
}

.invoice-total-zero {
  color: #918e9b;
}

.invoice-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
  margin-top: 16px;
  padding-bottom: 32px;
}

.invoice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #4a4e74;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.line-item {
  margin: 0;
  text-transform: capitalize;
}

.line-item-price {
  color: #918e9b;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
}

.line-item-price-amt {
  color: #4a4e74;
}

.send-invoice-btn {
  background: #3770ed;
  color: #fff;
  font-size: 1rem;
  padding: 9px 0;
  width: 100%;
  border-radius: 7px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 50px;
}

.error {
  color: red;
  font-size: 0.75rem;
  font-weight: 400;
}
.delete-btn {
  color: #918e9b;
  border: none;
  background: none;
  font-size: 1rem;
}

.delete-btn:hover {
  color: #ff4c4c;
}

.task-wrapper {
  display: flex;
  gap: 15px;
}

/* Utility classes */
.hide {
  visibility: hidden;
}

.btn-disabled {
  opacity: 50%;
  cursor: not-allowed;
}
